table, th, td {
    border: 2px solid ;
}


td{
    wrap-text:true;
    vertical-align: top;
}
.bold{
    font-weight: bold;
}
.noTopBorder{
    border-top: none !important; ;
    border-bottom: none !important; ;
}